<!-- users/templates/users/home.html -->
{% extends "base_generic.html" %}
{% block content %}
<div class="h1center-container">
  <h1>Welcome to BeeSafe</h1>
</div>
<br>
<br>

<div class="h2center-container">
  <h2>The internet's <i><span style="color: orange;">safest</span></i> password securer and generator </h2>
</div>
<br>
<br>

<div class="h3center-container">
  <h3> BeeSafe is here to ease the burden of recalling passwords,
      <br> while also offering the option to generate new complex, secure passwords.
  </h3>
</div>

<div class="honeycomb top-right">
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
</div>

<!-- Honeycomb grid in the bottom-left corner -->
<div class="honeycomb bottom-left">
  <div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
<div class="hex" ></div>
</div>
<div class="img">
<img src="https://static.vecteezy.com/system/resources/previews/014/586/524/original/bee-flying-path-a-bee-flying-in-a-dotted-line-the-flight-path-of-a-bee-to-honey-png.png" alt="Bee" align="center" width="450" height="450"/>
</div>
{% endblock %}
