h1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  


.form-overlay {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    width: 50%; /* Adjust the width of the form */
    height:50%;
    background: linear-gradient(135deg, #fce9b7,#f2cb8a); /* Linear gradient */
    /*background-color: rgba(255, 255, 255, 0.8); *//* Semi-transparent background */
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}